.chat-app {
  font-family: Arial, sans-serif;
  color: #333;
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #6200ea;
    color: #fff;

    .chat-title {
      font-size: 24px;
    }

    .chat-auth-buttons {
      button {
        margin-left: 10px;
        padding: 8px 12px;
        background-color: #fff;
        color: #6200ea;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #f1f1f1;
        }
      }
    }
  }

  .chat-main {
    min-height: 80vh;
    display: flex;

    .chat-sidebar {
      width: 200px;
      background-color: #f5f5f5;
      border-right: 1px solid #ddd;
      padding: 15px;

      h2 {
        margin-bottom: 10px;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          margin: 5px 0;
          padding: 5px;
          background-color: #e0e0e0;
          border-radius: 5px;
        }
      }
    }

    .chat-container {
      flex: 1;
      display: flex;
      flex-direction: column;

      .chat-content {
        flex: 1;
        padding: 15px;
        overflow-y: auto;
        background-color: #fafafa;

        .chat-message {
          margin: 5px 0;
          padding: 10px;
          border-radius: 10px;
          max-width: 70%;

          &.user-message {
            background-color: #6200ea;
            color: white;
            margin-left: auto;
          }

          &.bot-message {
            background-color: #e0e0e0;
            color: #333;
          }
        }
      }

      .chat-input-area {
        display: flex;
        padding: 10px;
        background-color: #fff;
        border-top: 1px solid #ddd;

        .chat-input {
          display: flex;
          flex: 1;
          padding: 10px;
          border: 1px solid #ddd;
          border-radius: 5px;
        }

        .chat-button {
          margin-left: 10px;
          padding: 20px 15px;
          background-color: #6200ea;
          color: white;
          border: none;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            background-color: #4500b5;
          }
        }
        .chat-mic-button {
          border: none;
          color: black;
          padding: 10px 15px;
          border-radius: 50%;
          cursor: pointer;
          margin-left: 5px;

          svg {
            font-size: 28px;
          }
          &:hover {
            color: #d32f2f;
          }
        }
      }
    }
  }
}
